---
title: Diegetic Games | Blog
layout: default
description: The official blog for Diegetic Games. Contains game updates, game drafts,and general news about the studio.
---

<h1 class="page-heading text-center">The Diegetic Games Blog</h1>

<script>
  (function() {
    var cx = '012371662592136889745:k4o6hddzekw';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>

<ul class="post-list" style="list-style-type: none;">
  {% for post in site.posts %}
    <li style="margin-bottom: 50px;">
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <span class="text-secondary">{{ post.date | date: "%b %-d, %Y" }}</span>
      {% if post.content contains '<!--more-->' %}
          {{ post.content | split:'<!--more-->' | first }}
      {% else %}
          {{ post.excerpt }}
      {% endif %}
      <a href="{{ post.url }}">Read More</a>
    </li>
  {% endfor %}
</ul>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
