---
layout: default
title: Diegetic Games | Blog
description: The official blog of Diegetic Games. Contains game updates, game drafts, and general news about the studio.
---


<h1 class="page-heading">The Diegetic Games Blog</h1>

<ul class="post-list">
  {% for post in site.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      {% if post.content contains '<!--more-->' %}
          {{ post.content | split:'<!--more-->' | first }}
      {% else %}
          {{ post.excerpt }}
      {% endif %}
      <a href="{{ post.url }}">Read More</a>
    </li>
  {% endfor %}
</ul>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
